//
// _forms.scss
//


.custom-control-label, .form-check-label{
  font-weight: $font-weight-normal;
}
.form-control {
    border: 1px solid #ffe3b6;
    border-radius: 0;
    font-size: 0.9em;
}
input {
    margin-top: 0.5rem;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #d2c7c7 !important;
}
.input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #b9b9b9 !important;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #b9b9b9 !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #eceaea;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(236, 236, 236, 0.25);
}

.form-control-inline {
    width: auto;
    float:left;
    margin-right: 5px;
}

.input-file {
    display: none;
}

.label-input-file {
    padding: 6px 6px;
    width: 150px;
    background-color: #333;
    color: #FFF;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}
