.profile-mobile{
    position: absolute !important;
    transform: translate3d(0px, 65.5px, 0px) !important;
    inset: 0px auto auto 0px !important;
    will-change: transform !important;
    margin: 0px !important;
}
